  html { font-size: 16px; }

  p {
    font-family: 'Playfair Display', serif;
    color: #595959;
    margin: 0 5rem 2rem 5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
  }

  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    font-family: 'Josefin Sans', sans-serif;
  }

  li {
    float: left;
    margin-left: 10rem
  }

  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    transition: all 1s ease 0s;
  }

  li a:hover {
    background: #325687;
    color: #fff;
    font-size: 1.25rem;
  }

  .header h1 {
    margin: 5rem 5rem 0 5rem;
  }

  .header h3 {
    margin: .5rem 5rem 2rem 5rem;
  }

  .sliding-u-l-r {
    display: inline-block;
  }

  .sliding-u-l-r:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }

  .sliding-u-l-r:hover:after {
    width: 100%;
    background: #DBDE28;
  }

  h1 {
    font-size: 3rem;
    color: #1DB4B9;
  }

  h3 {
    font-size: 2rem;
    color: #325687;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
  }

  .article {
    padding-right: 0;
  }

  .article h2 {
    color: #325687;
    text-align: center;
  }

  .aside {
    padding-right: 1rem;
  }

  .section-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .gallery-item h2 {
    text-align: center;
    color: #325687
  }

  .gallery-item img{
    margin: 2rem;
    padding: 0;
  }

  .gallery-item:hover img {
    transform: scale(1.2);
  }

  footer {
    clear: both;
    margin: 1rem 0 1rem 0;
    padding: 0;
    text-align: center
  }

  .btn {
    display: inline-block;
    font-family: 'Josefin Sans';
    border-radius: 2px;
    color: #ffffff;
    font-size: 16px;
    background: #dbde28;
    padding: 10px 14px 10px 14px;
    margin: 0 0 5rem 0;
    transition: all 1s ease 0s;
  }

  .btn:hover {
    transform: scale(1.3);
    box-shadow: inset 0 0 0 25px #1DB4B9;
  }
